*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

button{
    font-size: 40px;
    background-color: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%,40vh);
    width: 40vh;
    border: none;
    
}

button:hover{
    opacity: 0.3;
    border-radius: 50%;
}
